<!-- Renders lesson number, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <h2 class="h1 lh-condensed col-9 mb-0">
    <a class="link-primary" title="{{ page.url | prepend: site.baseurl }}" href="{{ page.url | prepend: site.baseurl }}">
      <span class="lang-af">{{ page.title }}</span>{% if page.title_en %}<span class="lang-en">{{ page.title_en }}</span>{% else %}<span class="lang-en">{{ page.title }}</span>{% endif %}
    </a>
  </h2>
  <a class="no-underline-hover h5 block py-1 mb-1" title="{{ page.url | prepend: site.baseurl }}" href="{{ page.url | prepend: site.baseurl }}"></a>
  <div class="content-preview">
    {{ page.content | markdownify }}
  </div>
  <a class="link-primary" title="{{ page.url | prepend: site.baseurl }}" href="{{ page.url | prepend: site.baseurl }}"> <span class="lang-af">{{ site.data.i18n.read_further.af }}</span><span class="lang-en">{{ site.data.i18n.read_further.en }}</span></a>
</div>
