<!-- Use if you want to show previous and next for all posts. -->
{% if page.previous.url %}
  <div class="col-4 sm-width-full left mr-lg-4 mt-3">
    <a class="no-underline-hover py-1 block" href="{{ page.previous.url | relative_url }}">
      <span class="h5 bold"><span class="lang-af">{{ site.data.i18n.previous.af }}</span><span class="lang-en">{{ site.data.i18n.previous.en }}</span></span>
      <p class="bold h3 link-primary mb-1">
        <span class="lang-af">{{ page.previous.title }}</span>{% if page.previous.title_en %}<span class="lang-en">{{ page.previous.title_en }}</span>{% else %}<span class="lang-en">{{ page.previous.title }}</span>{% endif %}
      </p>
    </a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div class="col-4 sm-width-full left mt-3">
    <a class="no-underline-hover py-1 block" href="{{ page.next.url | relative_url }}">
      <span class="h5 bold"><span class="lang-af">{{ site.data.i18n.next.af }}</span><span class="lang-en">{{ site.data.i18n.next.en }}</span></span>
      <p class="bold h3 link-primary mb-1">
        <span class="lang-af">{{ page.next.title }}</span>{% if page.next.title_en %}<span class="lang-en">{{ page.next.title_en }}</span>{% else %}<span class="lang-en">{{ page.next.title }}</span>{% endif %}
      </p>
    </a>
  </div>
{% endif %}
