<!-- Use if you want to show previous and next for lessons within a course. -->
{% if page.course %}
  {% assign course = page.course %}
  {% assign lessons = site.pages | where: "course", course | sort: "lesson"%}
  {% for lesson in lessons %}
    {% if lesson.url == page.url %}
      {% assign course_index0 = forloop.index0 %}
      {% assign course_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for lesson in lessons %}
    {% if course_index0 == forloop.index %}
      {% assign prev_lesson = lesson %}
    {% endif %}
    {% if course_index1 == forloop.index0 %}
      {% assign next_lesson = lesson %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if prev_lesson %}
<div class="col-4 sm-width-full left mr-lg-4 mt-3">
  <a class="no-underline-hover py-1 block" href="{{ prev_lesson.url | relative_url }}">
    <span class="h5 bold chevron-left"><span class="lang-af">{{ site.data.i18n.previous.af }}</span><span class="lang-en">{{ site.data.i18n.previous.en }}</span></span>
    <p class="bold h3 link-primary mb-1">
      <span class="lang-af">{{ prev_lesson.title | truncate:30 }}</span>{% if prev_lesson.title_en %}<span class="lang-en">{{ prev_lesson.title_en | truncate:30 }}</span>{% else %}<span class="lang-en">{{ prev_lesson.title | truncate:30 }}</span>{% endif %}
    </p>
  </a>
</div>
{% endif %}
{% if next_lesson %}
<div class="col-4 sm-width-full right mt-3">
  <a class="no-underline-hover py-1 block right" href="{{ next_lesson.url | relative_url }}">
    <span class="h5 bold chevron-right"><span class="lang-af">{{ site.data.i18n.next.af }}</span><span class="lang-en">{{ site.data.i18n.next.en }}</span></span>
    <p class="bold h3 link-primary mb-1">
      <span class="lang-af">{{ next_lesson.title | truncate:30 }}</span>{% if next_lesson.title_en %}<span class="lang-en">{{ next_lesson.title_en | truncate:30 }}</span>{% else %}<span class="lang-en">{{ next_lesson.title | truncate:30 }}</span>{% endif %}
    </p>
  </a>
</div>
{% endif %}
