---
layout: page
---

{% assign course_name = page.course_name %}

{% if page.videofile %}
<div class="video-container mb-4">
  <video width="100%" controls preload="metadata"{% if page.videoposter %} poster="{{ page.videoposter | relative_url }}"{% endif %}>
    <source src="{{ page.videofile | relative_url }}" type="video/mp4">
  </video>
</div>
{% elsif page.youtubeurl %}
{% assign youtube_id = page.youtubeurl | split: '/' | last | split: '?' | first %}
<div class="video-container mb-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

<div class="prose py-2" itemprop="articleBody">
    {{ content }}
</div>

<div class="container mx-auto">
  {% if course_name == "woordelys" %}
    {% assign lessons = site.pages | where: "course", course_name | where_exp: "item", "item.lesson != nil" | sort: "title" %}
  {% else %}
    {% assign lessons = site.pages | where: "course", course_name | where_exp: "item", "item.lesson != nil" | sort: "lesson" %}
  {% endif %}
  {% for page in lessons %}
    {% include lesson_block.html %}
  {% endfor %}
</div>
