---
layout: default
---

<div class="container mx-auto px-2 py-2 clearfix">
  {% include back-forward_has-lessons.html %}
</div>

<article class="container mx-auto px-2" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mt-4 mb-2 clearfix header-text">
    <div class="clearfix mb-1 py-1">
      {% assign course_page = site.pages | where: "layout", "course" | where: "course_name", page.course | first %}
      <p class="h4 lh-condensed">
        <a class="no-underline" href="{{ course_page.url | prepend: site.baseurl }}">{{ course_page.title }}</a>
      </p>
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div>
    <h1 class="h0 inline-block py-2 mt-1 mb-0 header-title">{{ page.title }}</h1>
    {% if page.author %}
      <p class="h4 text-gray-600 mt-0 mb-3 font-light">— deur {{ page.author }}</p>
    {% endif %}
  </div>

  {% if page.youtubeurl %}
    <div class="mb-4">
      {% assign video_id = page.youtubeurl | split: '/' | last | split: '?' | first %}
      {% assign embed_url = "https://www.youtube.com/embed/" | append: video_id | append: "?rel=0" %}
      {% if page.youtube_start %}
        {% assign embed_url = embed_url | append: "&start=" | append: page.youtube_start %}
      {% endif %}
      {% if page.youtube_end %}
        {% assign embed_url = embed_url | append: "&end=" | append: page.youtube_end %}
      {% endif %}
      <div class="aspect-ratio-16-9">
        <iframe src="{{ embed_url }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
      </div>
    </div>
  {% endif %}

  <div class="prose py-2" itemprop="articleBody">
      {{ content }}
  </div>

  {% if page.variations %}
    <script type="application/json" id="woordelys-variations">
      {{ page.variations | jsonify }}
    </script>
  {% endif %}

  {% if page.exclude_terms %}
    <script type="application/json" id="glossary-exclude-terms">
      {{ page.exclude_terms | jsonify }}
    </script>
  {% endif %}
</article>


<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next_has-lessons.html %}
</div>
