---
layout: default
---

<div class="container mx-auto px-2 py-2 clearfix">
  {% include back-forward_posts.html %}
</div>

<article class="container mx-auto px-2" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mt-4 mb-2 clearfix header-text">
    <div class="clearfix mb-1 py-1">
      <p class="h4 lh-condensed">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time>
      </p>
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div>
    <h1 class="h0 inline-block py-2 mt-1 mb-0 header-title">{{ page.title }}</h1>
    {% if page.author %}
      <p class="h4 text-gray-600 mt-0 mb-3 font-light">— deur {{ page.author }}</p>
    {% endif %}
  </div>

  <div class="prose py-2" itemprop="articleBody">
      {{ content }}
  </div>

  {% if page.exclude_terms %}
    <script type="application/json" id="glossary-exclude-terms">
      {{ page.exclude_terms | jsonify }}
    </script>
  {% endif %}
</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
